<template>
  <div class="QuestionerList-container">
    <div v-if="this.questionNumber" class="list-container">
      <div class="item-list">
        <question-item
          v-for="item in visibleItems"
          :key="item.id"
          :item="item"
        ></question-item>
      </div>

      <pagination
        :questionnaires="questioners"
        v-on:page:update="updatePage"
        :currentPage="currentPage"
        :pageSize="pageSize"
      ></pagination>
    </div>

    <div class="empty-list" v-else>
      <img class="empty-item" src="@/assets/images/cancel.png" alt />
      <p class="empty-text" style="color:#2a3774">
        !هم اکنون پرسش نامه‌ای وجود ندارد
      </p>
    </div>
  </div>
</template>

<script>
import Pagination from "../pagination/Pagination.vue";
import QuestionItem from "./QuestionnaireItem.vue";
export default {
  props: ["questioners", "questionNumber"],
  data() {
    return {
      perPage: 4,
      currentPage: 0,
      pageSize: 4,
      visibleItems: [],
    };
  },
  components: {
    Pagination,
    QuestionItem,
  },
  static: {
    visibleItemsPerPageCount: 2,
  },

  methods: {
    updatePage(pageNumber) {
      this.currentPage = pageNumber;
      this.updateVisibleItems();
    },
    async updateVisibleItems() {
      this.visibleItems = await this.questioners.slice(
        this.currentPage * this.pageSize,
        this.currentPage * this.pageSize + this.pageSize
      );
      if (this.visibleItems.length == 0 && this.currentPage > 0) {
        this.updatePage(this.currentPage - 1);
      }
    },
  },
  watch: {
    questioners: function(newValue, oldValue) {
      this.updateVisibleItems();
    },
  },

  async mounted() {
    await this.updateVisibleItems();
  },
};
</script>

<style>
.QuestionerList-container {
  margin-top: 5px;
}

.empty-list {
  flex-direction: column;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-items: center;
  justify-self: center;
}

.pagination {
  justify-content: center;
  justify-items: center;
  align-self: center;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 600px) {
  .pagination {
    flex-direction: row;
    align-self: center;
    justify-items: flex-end;
  }
  .status p {
    display: none;
  }
  .startBtn {
    padding: 10px 15px;
  }

  .item {
    padding: 20px 0px;
    width: 45%;
    height: 100%;
    margin: 10px 5px;
    min-height: 200px;
    align-content: space-between;
    justify-content: space-between;
    background-color: white;
    flex-direction: column;
    direction: rtl;
  }

  .item-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0px auto;
    justify-content: center;
  }
}
</style>
