<template>
  <div class="QuestionerList-header">
    <div class="header-container">
      <div class="info-bar">
        <div class="left-content">
          <div class="sort">
            <button class="sort-botton" style="font-family:Shabnam">
              <img style="margin-right: 15px;" src="@/assets/images/arrow(4).png" />
              {{ sortType }}
            </button>
          </div>
          <div class="info-item sortTxt">مرتب سازی بر اساس</div>
        </div>
        <div class="right-content">
          <div class="info-item" style="text-align:left;font-family:Shabnam-FD;display:flex">
            <div style="margin-right:3px">پرسشنامه</div>
            <div>{{ questionNumber }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
// window.onload = replaceDigits;

export default {
  props: ["questionNumber"],
  data: function () {
    return {
      // quizCount: 3,
      sortType: "جدیدترین",
    };
  },
};
</script>

<style>
* {
  box-sizing: border-box;
  text-align: right;
}

.header-container {
  margin-top: 50px;
}

.info-bar {
  max-width: 900px;
  padding: 10px;
  margin: 25px auto 0px auto;
  display: flex;
  justify-content: space-between;
  color:  var(--light-blue);
}

.left-content {
  display: flex;
  /* justify-content: between; */
  align-self: center;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  align-self: center;
  color: #aeaeae;
  background-color: #fff;
}

.sort-botton {
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  align-self: center;
}

.info-item {
  /* background-color: #fff; */
  padding: 10px 0px 10px 0px;
}

@media screen and (max-width: 600px) {
  .header-container {
    margin-top: 20px;
  }
}
</style>
