<template>
  <div class="item">
    <p class="question-item__name">پرسشنامه {{ item.title }}</p>

    <p class="question-item__number">تعداد پرسش : {{ item.questionsNumber }}</p>

    <div class="status">
      <p>وضعیت :</p>
      <div v-html="itemStatus"></div>
    </div>

    <div class="question-item__actions">
      <button v-if="item.answeringStatus" @click="startQ">مشاهده</button>
      <button v-else class="active" @click="startQ">
        شروع <img src="@/assets/images/arrow(6).png" />
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: Object,
  },
  computed: {
    itemStatus() {
      return this.item.answeringStatus
        ? '<p style="color:#05d667"> پاسخ داده شده</p>'
        : "<p> پاسخ داده نشده</p>";
    },
  },
  methods: {
    startQ() {
      this.$router.push("/question/" + this.item.id);
    },
  },
};
</script>
<style scoped>
.item {
  max-width: 900px;
  padding: 10px 20px;
  margin: 16px auto 0px auto;
  background-color: white;
  border: 3px #f8f8f8 solid;
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 #f1f1f2;
  direction: rtl;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-item__name {
  color: #2a3774;
  font-weight: bold;
  min-width: 200px;
}

.question-item__number {
  color:  var(--light-blue);
}

.status {
  color:  var(--light-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-item__actions button {
  border: none;
  outline: none;
  background-color: #e6e6e6;
  color: #b9b9b9;
  width: 100%;
  padding: 15px 15px;
  float: left;
  text-align: center;
  border-radius: 7px;
  font-family: Shabnam;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 80px;
  cursor: pointer;
}

.question-item__actions button a:visited {
  color: #b9b9b9;
}

.question-item__actions button.active {
  width: 100%;
  color: white;
  background-color: #3333ff;
  box-shadow: 0 2px 5px 0 rgba(69, 112, 245, 0.6);
}

.question-item__actions button.active:hover {
  background-color: #646464;
}

.question-item__actions button.active a:visited {
  color: #fff;
}

@media screen and (max-width: 600px) {
  .item {
    padding: 20px 0px;
    width: 45%;
    height: 100%;
    margin: 10px 5px;
    min-height: 200px;
    align-content: space-between;
    justify-content: space-between;
    background-color: white;
    flex-direction: column;
    direction: rtl;
  }
}
</style>
