<template>
  <div class="main-layout">
    <slot></slot>
    <div class="semi-circle"></div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.main-layout {
  height: 100vh;
}
.semi-circle {
  position: absolute;
  background-color: #fff;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1200px;
  width: 75%;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.3;
}
</style>
