<template>
  <div class="nav">
    <div class="left-nav">
      <img src="../../assets/images/arrow(4).png" />
      <p class="user-name">{{ this.username }} ، خوش آمدید</p>
      <img
        class="avatar"
        style="vertical-align: middle;"
        src="../../assets/images/avatar.png"
      />
    </div>

    <div
      class="middle-nav"
      style="font-family:Shabnam"
      v-if="questionnaireTitle"
    >
      {{ questionnaireTitle }}
    </div>

    <div class="right-nav">
      <img class="logo" src="../../assets/images/logo.png" />
    </div>
  </div>
</template>

<script>
export default {
  props: ["questionnaireTitle"],
  components: {},
  created() {
    // if (localStorage.username) {
    //   this.username = localStorage.username;
    // }
  },
  data() {
    return {
      username: "علی خرامان",
    };
  },
};
</script>
<style>
.nav {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
}

.nav p.user-name {
  margin-inline: 10px;
}

.circle {
  background-color: #ffffff;
  width: 60%;
  height: 130%;
  margin: -900px auto 0px auto;
  border-radius: 100%;
  opacity: 0.3;
}

.middle-nav {
  color: #4570f5;
  font-weight: bold;
}

.left-nav {
  display: flex;
  align-items: center;
  color: #4b5a9f;
}

@media screen and (max-width: 600px) {
  .right-nav {
    display: none;
  }
  .avatar {
    display: none;
  }
}
</style>
