<template>
  <div class="question">
    <navbar questionnaireTitle="لیست پرسشنامه ها"></navbar>

    <div class="question-container">
      <question-form
        :question-text="currentQuestion.questionText"
        :questionType="currentQuestion.type"
      ></question-form>
      <component
        class="answer-container"
        :is="activeComponent"
        :key="currentQuestion.id"
        :question="currentQuestion"
      ></component>
    </div>

    <question-navigation
      class="navigation"
      @addCounter="updateQuestionsCounter"
      @subCounter="updateQuestionsCounter"
      :questions_number="questions.length"
    ></question-navigation>
  </div>
</template>

<script>
import Navbar from "../components/layout/Navbar.vue";
import DescriptiveAnswer from "../components/question/DescriptiveAnswer.vue";
import OptionalAnswer from "../components/question/OptionalAnswer.vue";
import QuestionForm from "../components/question/QuestionForm.vue";
import QuestionNavigation from "../components/question/QuestionNavigation.vue";

export default {
  components: {
    QuestionForm,
    Navbar,
    DescriptiveAnswer,
    OptionalAnswer,
    QuestionNavigation,
  },
  computed: {
    currentQuestion() {
      return this.questions[this.currentQuestionNumber];
    },
    activeComponent() {
      return this.currentQuestion.type === "optional"
        ? "OptionalAnswer"
        : "DescriptiveAnswer";
    },
  },
  methods: {
    updateQuestionsCounter(counter) {
      if (counter < this.questions.length) {
        this.currentQuestionNumber = counter;
      } else {
        this.currentQuestionNumber = 0;
        this.$router.push("/finish");
      }
    },
  },
  data() {
    return {
      currentQuestionNumber: 0,
      questions: [
        {
            id:1,
          questionText:
            "در دوران رنسانس رویگرد دنیوی به عالم در کدام سطوح آشکار شد ؟",
          type: "descriptive",
        },
        {
            id:2,

          questionText:
            "حطوط افقی مناظر طبیعی، احساس آرامش و راحتی القا میکنند",
          type: "optional",
          options: [
            {
              id: "1",
              text: "صحیح",
            },
            {
              id: "2",
              text: "غلط",
            },
          ],
        },
        {
            id:3,
          questionText:
            "به نظر شما گسترش هنر در جامعه بر کدام یک از موارد زیر می تواند تاثیر مثبتی داشته باشد ",
          type: "optional",
          options: [
            {
              id: "1",
              text: "روابط اجتماعی افراد",
            },
            {
              id: "2",
              text: "رشد روحی و احساسی افراد",
            },
            {
              id: "3",
              text: "خلاقیت افراد",
            },
            {
              id: "4",
              text: "تفکر و جهان بینی افراد",
            },
          ],
        },
      ],
    };
  },
};
</script>

<style scoped>
.question {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.question-container {
  flex-direction: column;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  position: fixed;
  width: 80%;
  margin-inline: auto;
  bottom: 60px;
}

.answer-container {
  display: flex;
  align-items: flex-start;
  margin-inline: auto;
  width: 80%;
  max-width: 700px;
  min-height: 100%;
}
</style>
