<template>
  <div class="questions-container" v-if="this.questionnaires">
    <!-- <Nav :questionnaireTitle="this.questionnaireTitle"></Nav> -->
    <router-view />
    <div class="semi-circle"></div>
  </div>
</template>

<script>
// import Nav from "@/components/questionnaire/questionnaire-BodyComponent/Nav";
import axios from "axios";

export default {
  name: "Questions",
  components: {
    Nav,
  },
  headers: {
    "Access-Control-Allow-Origin": "*",
    "Content-type": "application/json",
  },
  data() {
    return {
      questions_number: 0,
      question: [],
      questionnaires: [],
      questionnaireTitle: "",
    };
  },
  methods: {
    async getQuestions() {
      await axios
        .get("/question?id=" + this.$route.params.QID, {
          headers: {
            Authorization: localStorage.token,
          },
        })
        .then((res) => {
          this.question = res.data.questions;

          // console.log(res);
        })
        .catch((err) => {
          // this.errorMessage = this.$handleErrors(err);
          console.log(err.response.data.message);
        });
    },
    async getQuestionnaire() {
      axios({
        method: "GET",
        url: "/questionnaires?user_id=" + localStorage.id,
        headers: {
          Authorization: localStorage.token,
        },
      })
        .then((res) => {
          // console.log(res);
          this.questionnaires = res.data.questionnaires;
          this.questionnaires.forEach((value, index) => {
            if (value.id == this.$route.params.QID) {
              this.questionnaireTitle = value.title;
            }
          });
        })
        .catch((err) => {
          // this.errorMessage = this.$handleErrors(err);
          console.log(err.response.data.message);
        });
    },
    forceRerender() {
      this.componentKey += 1;
    },
  },

  async mounted() {
    await this.getQuestions();
    await this.getQuestionnaire();
  },
};
</script>

<style scoped>
* {
  box-sizing: border-box;
  text-align: right;
  font-size: 16px;
  font-family: Shabnam;
}

.semi-circle {
  position: absolute;
  background-color: #fff;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1000px;
  width: 80%;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.3;
  /* background-color: green; */
}

.questions-container {
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 100px;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px 100px;
  /* background-color: #222222; */
}

.questions-container .question-card {
  padding: 50px 100px 50px 100px;
  display: flex;
  justify-content: center;
  margin: 0px 100px;
  /* background-color: #f88; */
}

.question-form {
  /* background-color: #fff; */
  width: 80%;
  display: flex;
  justify-content: center;
  /* background-color: #f66; */
}

.answer-card {
  /* background-color: #9876; */
  padding: 10px 100px 50px 100px;
  display: flex;
  justify-content: center;
  margin: 10px 100px;
}

.footer {
  margin: 0px 100px;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  * {
    font-size: 14px;
  }

  .questions-container .question-card {
    padding: 50px 50px 20px 50px;
  }
  .answer-card {
    padding: 10px 50px 20px 50px;
  }
}

@media screen and (max-width: 750px) {
  .questions-container {
    padding: 10px 20px;
  }
  .questions-container .question-card {
    padding: 20px 50px 20px 50px;
    margin: 20px 0px;
  }
  .answer-card {
    padding: 20px 50px 20px 50px;
    margin: 20px 0px;
  }
  .footer {
    padding: 20px 50px 20px 50px;
    margin: 20px 0px;
  }
}
</style>
