<template>
  <div>
    <navbar questionnaireTitle="لیست پرسشنامه ها"></navbar>

    <div class="questionaire-list__main">
      <questioner-list-header
        :questionNumber="this.questionNumber"
      ></questioner-list-header>

      <question-list
        :questioners="this.questioners"
        :questionNumber="questionNumber"
      ></question-list>
    </div>

  </div>
</template>

<script>
import axios from "axios";
import Navbar from "../components/layout/Navbar.vue";
import QuestionerListHeader from "../components/questionnaire/QuestionerListHeader.vue";
import QuestionList from "../components/questionnaire/QuestionnaireList.vue";

export default {
  name: "Home",

  components: {
    Navbar,
    QuestionerListHeader,
    QuestionList,
  },

  data: function() {
    return {
      questioners: [
        {
          id: 1,
          title: "هنر و فرهنگ",
          answeringStatus: true,
          questionsNumber: 25,
        },
        {
          id: 2,

          title: "اطلاعات عمومی",
          answeringStatus: false,
          questionsNumber: 30,
        },
        {
          id: 3,

          title: "تجربه کاربر",
          answeringStatus: false,
          questionsNumber: 30,
        },
         {
          id: 1,
          title: "هنر و فرهنگ",
          answeringStatus: true,
          questionsNumber: 25,
        },
        {
          id: 2,

          title: "اطلاعات عمومی",
          answeringStatus: false,
          questionsNumber: 30,
        },
        {
          id: 3,

          title: "تجربه کاربر",
          answeringStatus: false,
          questionsNumber: 30,
        },
      ],
    };
  },

  computed: {
    questionNumber() {
      return this.questioners.length;
    },
  },

  async mounted() {
    // await axios
    //   .get("/questionnaires?user_id=" + localStorage.id, {
    //     headers: {
    //       Authorization: localStorage.token,
    //     },
    //   })
    //   .then((res) => {
    //     console.log(res);
    //     this.questioners = res.data.questionnaires;
    //     this.questionNumber = res.data.questionnairs_number;
    //   })
    //   .catch((err) => {
    //     // this.errorMessage = this.$handleErrors(err);
    //     console.log(err.response.data.message);
    //     // this.errorMessage = err.response.data.message;
    //   });
  },
};
</script>

<style scoped>

.questionaire-list__main {
  margin-block: 50px;
}
</style>
