<template>
  <textarea type="text" placeholder="...پاسخ کاربر" v-model="answer"></textarea>
</template>

<script>
export default {
  props: {
    question: Object,
  },
  data() {
    return {
      answer: "",
    };
  },
};
</script>

<style scoped>
.answer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

textarea {
  width: 100%;
  height: 250px;
  background-color: #e6e9ef;
  outline: none;
  border: none;
  text-align: right;
  color: #747474;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  padding: 12px 20px;
  box-sizing: border-box;
  font-family: Shabnam;

}
</style>
