<template>
  <div class="">
    <navbar></navbar>
    <div class="finish-container">
      <figure class="finish-pic">
        <img src="@/assets/images/Group.png" alt />
      </figure>
      <div class="finish-subpic">
        شما با
        <span>موفقیت</span>
        پرسشنامه را به اتمام رساندید
      </div>
      <button class="finish-button">
        <img src="@/assets/images/next.png" alt />
        <router-link to="/questionnaire-list" style="text-decoration:none;">مشاهده پرسشنامه ها</router-link>
      </button>
    </div>
  </div>
</template>

<script>
import Navbar from '../layout/Navbar.vue';
export default {
  components: {
    Navbar
  },
  methods: {
    goToQ() {
      this.$router.replace(
        "/finish/questionnaire/" + this.$store.state.username
      );
    },
  },
};
</script>

<style scoped>
* {
  box-sizing: border-box;
  text-align: right;
  font-size: 16px;
  font-family: Shabnam;
}

body {
  background-color: #f3f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finish-container {
  margin-top: 0;
  margin-bottom: 100px;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  /* background-color: #222222; */
}

.finish-container {
  /* background-color:  #2222; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.finish-subpic {
  font-family: Shabnam;
  margin-top: 20px;
  color: #2a3774;
}

.finish-subpic span {
  color: #05d667;
}

.finish-button {
  padding: 10px 15px;
  outline: none;
  border: none;
  margin-top: 30px;
  display: flex;
  color: #fff;
  background-color: #4570f5;
  font-family: Shabnam;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.finish-button img {
  margin-right: 10px;
  margin-top: 3px;
}

a:visited {
  color: white;
}
</style>
