<template>
  <div class="question-form">
    <p class="question-text">{{ this.questionText }}</p>
    <p class="sub-text" v-if="this.questionType == 'optional'">
      گزینه صحیح را انتخاب کنید
    </p>
    <p class="sub-text" v-else-if="this.questionType == 'descriptive'">
      پاسخ تشریحی کامل بدهید
    </p>
  </div>
</template>

<script>
export default {
  props: ["questionText", "questionType"],
};
</script>

<style scoped>

.question-form{
  margin-block: 30px;
}
.question-text {
  color: #2a3774;
  font-weight: bold;
  text-align: center;
}

.sub-text {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color:  var(--light-blue);
}
</style>
