@import url('./fonts.css');


*{
    font-family: Shabnam;
    box-sizing: border-box;
}



body {
    /* font-family: Shabnam; */
    direction: rtl;
    width: auto;
    height: 100%;
    background-color: #f3f4f8;
    overflow: hidden;
  }

  
:root {
  --light-blue : #7f86aa ;
  --dark-blue : #7f86aa ;

  --light-gray : #c3c6d5;

    /* --primary-color: #e787a4;
    --primary-hover: rgba(231,135,164,0.6);
    --secondary-hover: rgb(255, 239, 243);;
    --secondary-color: #6b6b6b;
    --gray-color: #f5f5f5;
    --black: rgb(70, 70, 70);
    --blue-color: #88E7CB;
    --danger: #df3232d5; */
  }
  