<template>
  <div class="auth-form">
    <auth-header></auth-header>
    <slot></slot>
  </div>
</template>

<script>
import AuthHeader from './AuthHeader.vue'
export default {
  components: { AuthHeader },

}
</script>

<style scoped>
.auth-form{
    width: 50%;
    margin: auto;
}
</style>