<template>
  <auth-layout>
    <form method="get" action>
      <div class="form-group">
        <div class="label">
          <label for="نام و نام خانوادگی">نام و نام‌خانوادگی</label>
          <i class="bi bi-person"></i>
        </div>
        <input
          type="text"
          placeholder="نام و نام خانوادگی خودرا وارد کنید"
          v-model="form.username"
        />
      </div>

      <div class="form-group">
        <div class="label">
          <label for="ایمیل">ایمیل</label>
          <i class="bi bi-envelope"></i>
        </div>
        <input
          type="email"
          placeholder="ایمیل خودرا وارد کنید"
          v-model="form.email"
        />
      </div>

      <div class="form-group">
        <div class="label">
          <label for="password">رمز عبور</label>
          <i class="bi bi-lock"></i>
        </div>
        <input
          type="password"
          placeholder="رمزعبور خودرا وارد کنید"
          v-model="form.password"
        />
      </div>

      <div class="form-group">
        <div class="label">
          <label for="تکرار رمز عبور">تکرار رمز عبور</label>
          <i class="bi bi-lock"></i>
        </div>
        <input
          type="password"
          placeholder="رمزعبور خودرا مجدد وارد کنید"
          v-model="form.repeatPassword"
        />
      </div>

      <auth-options></auth-options>
      <div class="signup-actions">
        <button class="login" @click="goToLogin">ورود</button>
        <button class="signup" @click="signup">ثبت نام</button>
      </div>
    </form>
  </auth-layout>
</template>

<script>
import AuthLayout from "./AuthLayout.vue";
import AuthOptions from "./AuthOptions.vue";
export default {
  components: { AuthLayout, AuthOptions },
  data() {
    return {
      form: {
        username: "",
        email: "",
        password: "",
        repeatPassword: "",
      },
    };
  },
};
</script>

<style scoped>
form {
  max-width: 450px;
}

.form-group {
  background-color: #ffffff;
  padding: 15px 20px;
  border-bottom: 0.5px solid #f7f7f7;
}
.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label i {
  color: #c3c6d5;
  padding: 0;
  margin: 0;
}

label {
  color: var(--light-blue);
}

input {
  border: none;
  width: 100%;
  padding: 5px 0;
  justify-content: flex-start;
  font-family: Shabnam;
  color: var(--light-blue);
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #c3c6d5;
  text-align: right;
}

.form-group:first-child {
  border-radius: 10px 10px 0 0;
}

.form-group:last-child {
  border-radius: 0px 0px 10px 10px;
}

.signup-actions {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.signup-actions button {
  width: 49%;
  padding: 10px 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.login {
  background: #f3f4f8;
  color: #929db3;
  box-shadow: 0 3px 20px 0 rgba(69, 112, 245, 0.3);
  border: solid 1px #d1d1d2;
}
.signup {
  background-color: #4570f5;
  color: #fff;
  box-shadow: 0 3px 20px 0 rgba(69, 112, 245, 0.3);
  cursor: pointer;
}

.verifiError {
  background-color: red;
  opacity: 0.7;
  color: black;
  padding: 6px;
  margin-top: 10px;
  border-radius: 5px;
  direction: ltr;
}
</style>
